// =========================================
//                Variables
// =========================================

// Colors

$colors: (
  primary: #248441,
  primary-lighter: #6ad78a,
  primary-darker: #17740f,
  background: #f9f9f9,
  alert: #c8401e,
  white: #f6f6f6,
  gray: #808080,
  dark-gray: #5c5c5c,
);

// Breakpoints

$break-mobile: 37.5rem;
$break-tablet: 76.8rem;
$break-laptop: 102.4rem;
