// =========================================
//                Variables
// =========================================

// Colors

$colors: (
  primary: #69c561,
  primary-darker: #17740f,
  alert: #c8401e,
  white: #f6f6f6,
  gray: #cecece,
  dark-gray: #5c5c5c,
);

// Breakpoints

$break-mobile: 37.5rem;
$break-tablet: 76.8rem;
$break-laptop: 102.4rem;
