.filter {
  @include flex(space-between, center);
  align-items: center;
  margin: 2rem 0;

  button {
    outline: none;
    background: none;
    color: map-get($map: $colors, $key: dark-gray);

    &:active {
      color: map-get($map: $colors, $key: primary-darker);
    }
  }

  &__active {
    text-decoration: underline;
  }

  &__links {
    @include flex(space-between, center);
    gap: 1.5rem;
  }

  &__clear {
    text-decoration: underline;
  }
}
