.form {
  display: flex;
  border-radius: 0.5rem;

  &__input {
    border: none;
    flex: 1;
    padding: 1.5rem;
  }

  &__btn {
    background: map-get($map: $colors, $key: primary);
    color: map-get($map: $colors, $key: white);
    padding: 0 4rem;
  }
}
