.form {
  display: flex;
  border-radius: 0.5rem;

  &__input {
    border: none;
    flex: 1;
    padding: 1.5rem;

    &--invalid {
      outline: none;
      box-shadow: 0px 0px 1px 2px rgb(253, 67, 67);
    }
  }

  &__btn {
    background: map-get($map: $colors, $key: primary);
    color: map-get($map: $colors, $key: white);
    padding: 0 4rem;
  }
}
