.item {
  @include flex(space-between, center);

  border-bottom: 1px solid map-get($map: $colors, $key: gray);

  &__desc {
    @include flex(flex-start, center);
    flex: 1;
  }

  &__name {
    flex: 1;
    background: none;
    outline: none;
    border: none;
    font-size: 1.6rem;
    padding: 1.5rem 1rem;
    color: map-get($map: $colors, $key: primary);
    cursor: pointer;
    margin: 1rem 0;
    transition: 0.2s;
    border-radius: 3rem;

    &--completed {
      color: map-get($map: $colors, $key: gray);
      text-decoration: line-through;
    }

    &--editing {
      background: map-get($map: $colors, $key: primary);
      color: map-get($map: $colors, $key: white);
    }
  }

  img {
    padding: 0 1rem;
    cursor: pointer;
    transform: scale(1);
    transition: 0.3s;
  }

  img:first-child {
    padding-left: 0;
  }

  &:last-child {
    border-bottom: none;
  }

  &__edit {
    transition: 0.3s;
    margin-right: 1rem;
    margin-left: 2rem;
  }

  &__edit > path {
    fill: map-get($map: $colors, $key: primary-darker);
  }

  &__edit--is-editing {
    transform: scale(1.4);

    path {
      fill: map-get($map: $colors, $key: primary);
    }
  }

  &__edit:hover {
    transform: scale(1.4) rotateZ(20deg);
  }

  &__delete:hover {
    animation: shake 1.5s ease-in-out infinite;
  }
}

@keyframes shake {
  0%,
  100% {
    transform: scale(1.4) translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: scale(1.4) translateX(-1px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: scale(1.4) translateX(1px);
  }
}
