.modal {
  margin: 1rem 0;

  &__text {
    font-size: 2rem;

    &--valid {
      color: map-get($map: $colors, $key: primary-darker);
      opacity: 1;
    }

    &--invalid {
      color: map-get($map: $colors, $key: alert);
      opacity: 1;
    }
  }
}
